# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Env files
.env
.env.local
.env.*.local# VS Code
.vscode/

# Node
node_modules/
dist/
build/

# Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Coverage
coverage/

# Misc
*.swp